/* Default styling */
*{
    color:aliceblue;
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.parent {
 min-height: 100vh;
  height: auto;
  display: block;
  justify-content: center;
  align-items: center;
  place-items: center;
}

/* Background image */
 .bgimg{
  width: 100%;
  height: 100%;
  object-fit: cover;      
  opacity: 0.15;           
  position: absolute;
  top:0;
  left: 0;
  z-index: 1;
}

/* Part 1 styling */
.part1{
  width: 100%;
  top:0px;
  text-align: center;
  padding: 90px 20px;
  position: relative;   /* normal flow */
  transform: none; 
  left: 0;
}
.pta1 h2{
 text-align: center; 
  font-size:4rem; 
}

.pta1 h2 span{
color:rgb(255, 201, 251);
}

.pta1 p {
  text-align: center; 
  font-size:1rem;
  color:rgb(184, 175, 175);       /* Ensures title + paragraph are centered */
}


.ptb {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;    /* Centers buttons horizontally */
  align-items: center;
  gap: 20px;                  /* Space between buttons */
  margin-top: 25px;
}

.ptbtn-b,
.ptbtn-a {
  display: flex;
  align-items: center;
  justify-content: center;  /* Centers content inside button blocks */
  padding:10px 20px;
  border-radius:15px;

}



.ptbtn-a{
    background-color:#161616d4;
    box-shadow:1px 1px 2px  3px rgb(0, 0, 0);

}
.ptbtn-a:hover{
    transition: 1s ease-out;
    background-color:#353535d5;
    box-shadow:0px 0px 6px  8px rgb(0, 0, 0);
    border:1px solid rgb(0, 0, 0);
    border:none;
}

.ptbtn-b{
    border:2px solid rgb(246, 160, 240);
    border-radius:30px;
}

.ptbtn-b a,
.ptbtn-a a{
text-decoration: none;
}

/* part 2 styling */
.part2{
    width:100%;
    height:auto;
    margin-top:90px;
}
.pt2a{
    text-align:center;
    margin-bottom:20px;
}

.pt2a h2{
    font-size:3.5rem;
}

.pt2a p{
    font-size:1.2rem;
}

.pt2a p span{
   color:rgb(253, 179, 248);
}




.pt2b{
    width:auto;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(270px,2fr));
    gap:15px;
    justify-content:center;
    align-items:center;
    padding:10px;

}


.prodCard{
    width:100%;
    height: auto;
    background-color:rgb(0, 0, 0);
    padding:1rem;
    border-radius:5%;
    border:1.5px solid rgb(174, 169, 169);
    transition: all 0.3s ease;
}
.prodCard:hover{
 transform: translateY(-5px) scale(1.03);
 box-shadow: 0 8px 20px rgba(255, 105, 180, 0.4); /* pink shadow */
}
.prodimg img{
    width:90px;
    border-radius:15%;
    margin-bottom:15px;
}
.prodCard h3{
    font-size:1.4rem;
    font-weight:200;
    margin-bottom:10px;
}
.prodCard p{
    font-size:0.8rem;
    text-align:start;
    font-weight:10px;
    color:rgb(200, 196, 196);
    margin-bottom:20px;
}
.pt2-tags{
    width:100%;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(50px,2fr));
    gap:15px;
}

.pt2-tags span{
    width:100%;
    font-size:12px;
    background-color:rgb(241, 149, 235);
    padding:3px;
    text-align:center;
    color:black;
    border-radius:10%;
    gap:25px;
}


/* part 3 styling */
.part3{
    width:100%;
    margin-top:120px;
    text-align:center;

 
}

.ptcard:hover{
 transform: translateY(-5px) scale(1.03);
 box-shadow: 0 8px 20px rgba(255, 105, 180, 0.4); /* pink shadow */
}


.pt3a{
    align-items:center;
    justify-content:center;
    text-align:center;
    margin-bottom:10px;
    animation: fadeIn 1.2s ease-in-out;
}
.pt3a h2{
    font-size:2.2rem;
}
.pt3a p{
    font-size:1.2rem;
}
.pt3a p span{
  color:rgb(255, 177, 226);
}

.pt3b {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 20px;
  padding: 20px;
}
.ptcard{
    width:100%;
    height:auto;
    border:1px solid rgb(255, 255, 255);
    border-radius:10px;
    align-items: center;
}

.ptcard img{
    width:100%;
    height:28vh;
    border-radius:10px 10px 0px 0px;
}

.ptcard h3{
    font-size:1.3rem;
    margin-bottom:10px;
    font-weight:700px;
   
}

.ptcard p{
    text-align:center;
    margin-bottom:20px;
    animation: fadeIn 1.6s ease-in-out;
}
.pt3tags{
    display:flex;
    margin-left:10px;
    margin-bottom:5px;
    gap:5px;
}
.pt3tags h4{
    width:auto;
    height:auto;
    text-align:center;
    background-color:rgb(247, 165, 242);
    color:#000000;
    border-radius:5%;
    font-size:0.9rem;
    font-weight:600px;
    font-family:sans-serif;
    padding:3px;
    animation: fadeIn 1.2s ease-in-out;
}
.pt3tags h4:hover{
     transform: scale(1.02);   /* Slightly bigger on hover */
    transition: transform 0.2s ease;
}


.ptcabtn{
    width:250px;
    height:5vh;
    text-align:center;
    display:flex;
    align-items:center;
    justify-items:center;
    gap:15px;
    margin:0 auto;
    border:none;
    border-radius:30px;
    padding:20px;  
    animation: fadeIn 2.2s ease-in-out;  
}

.ptcabtn a{
    text-decoration:none;
}

.ptbtn-a ,.ptcabtn:hover{
   transition: 1s ease-out;
    background-color:#373636ad;
    box-shadow:0px 0px 6px  8px rgb(0, 0, 0);
    border:1px solid rgb(0, 0, 0);
    border:none;
}
/* part 4 styling */
.part4{
    width:100%;
    height:50vh;
    text-align:center;
    margin-top:152px;
    
}
.pst4 h2{
    font-size: clamp(1.2rem, 2.5vw, 2.2rem);
    font-weight: 800;
    letter-spacing: -.02em;
    line-height: 1.1;
    animation: fadeIn 1.6s ease-in-out;
}
.pst4 h2 span{
    color:#ffd1e7;
      font-size: clamp(1.2rem, 2.5vw, 2.2rem);
}
.pst4 p{
    color:#b6b2b2eb;
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
    font-weight: 400;
    line-height: 1.6;
    margin-top:20px;
    animation: fadeIn 1.6s ease-in-out;
    
}
.ptbtn4 {
    display:flex;
    align-items: center;
    justify-items:center;
    text-align:center;
    margin:0 auto;
    width:200px;
    height:5vh;
    border: 1px solid transparent;
    border-radius:30px;
    padding:5px 23px;   
    margin-bottom:20px; 
    margin-top:20px; 
    animation: fadeIn 2s ease-in-out;
    gap:5px;
}
.ptbtn4 a{
    text-decoration: none;
    border:none;
}
.ptbtn4 a:hover{
    border:none;
}
.ptbtn4:hover{
    transition: 1s ease-out;
    background-color:#313131ad;
    box-shadow:0px 0px 6px  8px rgb(0, 0, 0);
    border:1px solid rgb(0, 0, 0);
    
}

/*Responsive Code */
@media (max-width: 1024px) {
    .pt3b {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 748px){ 

/* part 1 styling */
/* part 2 styling */
.prodCard{
    width:90%;
    height:auto;
    place-items: center;
    transition: all 0.3s ease;
}

.prodCard:hover{
 transform: translateY(-5px) scale(1.03);
 box-shadow: 0 8px 20px rgba(255, 105, 180, 0.4); /* pink shadow */
}
 /* part 3 styling */

    .pt3b {
        grid-template-columns: repeat(1, 1fr);
    }
.pt3b{
     width:100%;
     place-items: center;
     padding-left:20px;
    }
     .ptcard{
        width:100%;
        margin-top:5px;
    }

}
@media (max-width: 480px){ 

/* Part 1 styling */
.pta1 h2{
    font-size:2.4rem;
}

.pta1 p{
    font-size:1rem;
}

/* part 2 styling */
    .part2{
 place-items: center;
            }
.prodCard{
    width:95%;
    height:auto;
      transition: all 0.3s ease;
}
.prodCard:hover{
 transform: translateY(-5px) scale(1.03);
 box-shadow: 0 8px 20px rgba(255, 105, 180, 0.4); /* pink shadow */
}
/*part3  mobile view code */
        .pt3b {
        grid-template-columns: repeat(1, 1fr);
    }
    .ptcard{
        min-width:50% auto;
        margin-top:5px;
    }
   .pt3b{
     width:100%;
     place-items: center;
     padding:10px;
    }

    .part4{
        height:80vh;
    }

}
@media (max-width: 380px){ 
/* part 2 styling */
.prodCard{
    width:100%;
    height:auto;
    place-items: center;
}
.prodCard:hover{
 transform: translateY(-5px) scale(1.03);
 box-shadow: 0 8px 20px rgba(255, 105, 180, 0.4); /* pink shadow */
}
    /*part3  mobile view code */
    .pt3b {
        grid-template-columns: repeat(1, 1fr);
        place-items:center;
    }

    .ptcard{
        width:100%;
        margin-top:5px;
        place-items: center;
    }
    .pt3b{
     width:100%;
     place-items: center;
     padding:10px;
    }
        .pst4 h2{
        font-size:2.5rem;
    }
    .pst4 h2 span{
        font-size:3.8rem;
    }
}
@media (max-width: 330px){ 
            /* part 2 styling */
.prodCard{
    width:100%;
    height:auto;
    place-items: center;
}
.prodCard:hover{
 transform: translateY(-5px) scale(1.03);
 box-shadow: 0 8px 20px rgba(255, 105, 180, 0.4); /* pink shadow */
}
    /*part3  mobile view code */
    .ptcard{
        width:100%;
        margin-top:5px;
        place-items: center;
    }
    .pt3b{
     width:100%;
     place-items: center;
     padding:5px;
    }

    .pst4 h2{
        font-size:2.5rem;
    }
    .pst4 h2 span{
        font-size:3.6rem;
    }
}