.contact-header{
    width: 100%;
    display: block;
    margin-left: 320px;
    animation: fadeIn 2.2s ease-in-out;
}
.contact-header h1{
    font-size: 92px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #FFFFFF;
    text-align: center;
}
.contact-header h1 span{
    color: #FFD1E7;
    display: block;
}
.contact-header p{
    font-size: 1.5rem;
    color: #AAAAAA;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
/* LEFT SIDE CARD */
.left-column{
   display: flex;
   flex-direction: column;
   gap: 30px;
   width: 720px;
   margin-top: 22px; 
}
.contact-form-box{
    width: 100%;
    background: #1f1f1f;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid #333;
    flex-wrap: wrap;
    margin-left: -50px;
    margin-top: 188px;
    margin-bottom: 40px;
    height: 737px;
}
.contact-form{
    display: inline;
    gap: 20px;
    grid-template-columns: REPEAT(2, 1fr);
    padding: 0;
    font-family: sans-serif;
    color: #FFFFFF;
    display: block;
    font-size: 20px;
    margin-top: -8px;
}
.contact-form.full-width{
grid-column: span 2;
}
.contact-form label{
    display: inline-block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #cccccc;
    letter-spacing: 0px;
    font-weight: 500;
    gap: 20Px;
    text-align: center;
    margin-top: 10px;
}
.contact-form input,
.contact-form select,
.contact-form textarea {   
background: #1A1A1A;
border: 1px solid #2a2f38;
padding: 14px;
border-radius: 10px;
color: #FFFFFF;
font-size: 15px;
outline: none;
transition: 0.2s;
width: 95%;
resize: none;
}
.contact-form textarea {
 min-height: 120px;
 padding: 10px;
}
.contact-form .send-btn{
padding: 12px 20px;
display: flex;
border: none;
border-radius: 30px;
font-size: 14px;
color: #FFFFFF;
background-color: #151515;
width: 99%;
cursor: pointer;
transition: 0.2s;
text-align: center;
justify-content: center;
margin-top: 20px;
height: 40px;
gap: 5px;
}
.send-btn:hover{
    transform: scale(1.06);
    box-shadow: 0 6px 12px rgba(0,0,0,0,0.25);
}
.submit .icon{
    color: #FFFFFF;
    width: 16px;
    margin-top: -6px;
}
/* RIGHT SIDE CARD */
.contact-wrapper{
    display: flex;
    gap: 30px;
    margin: 0 auto;
    max-width: 1280px;
    padding-top: 150px;
}
.right-column{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 590px;
    margin-top: 200px;

}
.contactinfo-card{
    background: #1f1f1f;
    padding: 25px;
    border-radius: 10px;
    height: auto;
    border: 1px solid #333;
}
.contactinfo-title{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: #FFFFFF;
    margin-left: 10px;
}
.contactinfo-row{
    display: flex;
    align-items: center;
    gap: 18px;
    margin-bottom: 4px;
    text-align: center;
}
.label{
    font-size: 0.8rem;
    color: #b0b0b0;
    margin-bottom: 22px;
    letter-spacing: 1px;
    margin-left: 2px;
    margin-top: -20px;
}
.value{
    font-size: 1rem;
    color: #FFFFFF;
    margin-bottom: 15px;
    margin-left: -65px;
    margin-top: 15px;
}
.value-phone{
    font-size: 1rem;
    color: #FFFFFF;
    margin-bottom: 15px;
    margin-left: -74PX; 
    margin-top: 15px;
}
.value-location{
    font-size: 1rem;
    color: #FFFFFF;
    margin-bottom: 15px;
    margin-left: -97PX; 
    margin-top: 15px;
}
.contactfollow-card{
    background: #1f1f1f;
    padding: 25px;
    border-radius: 10px;
    height: auto;
    border: 1px solid #333;
}
.contactfollow-title{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: #FFFFFF;
    margin-left: 10px;
}
.contactbusiness-card{
    height: auto;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #333;
    background: #1f1f1f;
}
.contactbusiness-title{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 10px;
}
.row{
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    font-size: 18px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.icon-bg{
   width: 50px;
   height: 50px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 30px;
   margin-bottom: 10px;
}
.email-bg{
   background: #7C7F81;
}
.icon{
    width: 28px;
    height: 28px;
    color: #FFFFFF;
    margin-left: 3px;
}
.phone-bg{
    background: #7c9ec3;
}
.loaction-bg{
    background: #6a60a4;
}
.follow-icon{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 10px;
}
.follow-icon-circle{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}
.follow-icon-circle .icon{
    width: 26px;
    height: 26px;
    color: #FFFFFF;
    margin-top:3px;
    margin-left: 2px;
}
.follow-icon-circle.linkedin:hover {
background-color: #b9949f;
transform: scale(1.1);
}
.follow-icon-circle.twitter:hover {
background-color: #79729f;
transform: scale(1.1);
}
.follow-icon-circle.instagram:hover {
background-color: #a88da8;
transform: scale(1.1);
}
.follow-icon-circle.github:hover {
background-color: #737576;
transform: scale(1.1);
}

